#a
{
    height: 50px;
    width: 150px;
    background-color: burlywood;
    transform: skewX(15deg) skewY(20deg);
    margin-top: 50px;
    margin-left: 50px;
}


.B
{
    height: 100px;
    width:150px ;
    background-color: blueviolet;
    text-align: center;
    align-content: center;
    transform: translate(100px, 50px);
}


#C
{
     height: 100px;
    width:150px ;
    background-color: rgb(41, 68, 220);
    text-align: center;
    align-content: center;
    transform: rotateX(180deg) rotateY(180deg)
}