#aa {
    width: 200px;
    height: 20px;
    border: 2px;
    padding: 30px;
    margin: 20px;
    background-color:green;
}

#bb {
    width:200px;
    height:20px;
    border:2px;
    padding:30px;
    margin:20px;
    background-color: red;
}

#cc{
    width:200px;
    height:20px;
    border:2px;
    padding: 30px;
    margin:20px;
    background-color: yellow;
}