.AA
{
    background-color:white;
    width: 60%;
    height: 650px;
    border: 2px solid;

}

#a
{
    color: rgb(26, 127, 227);
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 150px;
    margin-top: -50px;
}

#A
{
    margin-top: ;
}

#b
{
    font-size: larger;
    margin-left: 150px;
}

#c
{
    color: green;
    background-color:white;
    width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
    margin-left: 150px;
}

#d
{
    color: rgba(214, 183, 5, 0.863);
    background-color: white;
       width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 20px;
    font-weight: bolder;
     margin-left: 250px;
     margin-top: -22px;
}

#e
{
  color: blue;
    background-color: white;
       width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    font-weight: bolder;
     margin-left: 350px;
     margin-top: -25px;   
}


#f
{
    color: blue;
    border: 2px solid blue;
    width: 50px;
    text-align: center;
    height: 20px;
    margin-left:800px ;
    margin-top: -70px;
}


#A
{
    margin-top: -60px;
}


.firstbox
{
    margin-top: 80px;
}




.





.BB
{
    background-color:white;
    width: 60%;
    height: 600px;
    border: 2px solid;

}

#aaa
{
   color: rgb(26, 127, 227);
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 150px;
    margin-top: 40px; 
}

#B
{
margin-top: -60px;
}

#bb
{
    font-size: larger;
    margin-left: 150px;
}

#cc
{
    color: green;
    background-color:white;
    width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
    margin-left: 150px;
}

#dd
{
    color: rgba(214, 183, 5, 0.863);
    background-color: white;
       width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 20px;
    font-weight: bolder;
     margin-left: 250px;
     margin-top: -22px;
}

#ee
{
  color: blue;
    background-color: white;
       width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    font-weight: bolder;
     margin-left: 350px;
     margin-top: -25px;   
}


#ff
{
    color: blue;
    border: 2px solid blue;
    width: 50px;
    text-align: center;
    height: 20px;
    margin-left:800px ;
    margin-top: -70px;
}

.secondbox
{
    margin-top: 100px;
}







.




.BB
{
    background-color:white;
    width: 60%;
    height: 600px;
    border: 2px solid;

}

#aaaa
{
   color: rgb(26, 127, 227);
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 150px;
    margin-top: 40px; 
}

#C
{
margin-top: -60px;
}

#bbb
{
    font-size: larger;
    margin-left: 150px;
}

#ccc
{
    color: green;
    background-color:white;
    width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
    margin-left: 150px;
}

#ddd
{
    color: rgba(214, 183, 5, 0.863);
    background-color: white;
       width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 20px;
    font-weight: bolder;
     margin-left: 250px;
     margin-top: -22px;
}

#eee
{
  color: blue;
    background-color: white;
       width: 90px;
    height: 20px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    font-weight: bolder;
     margin-left: 350px;
     margin-top: -25px;   
}


#fff
{
    color: blue;
    border: 2px solid blue;
    width: 50px;
    text-align: center;
    height: 20px;
    margin-left:800px ;
    margin-top: -70px;
}

.thirdbox
{
    margin-top: 100px;
}