<div class="content" role="main">
  <h1>Companies</h1>
</div>      

<div class="sidebar">
  <h2 class="logo">Jobie</h2>

  <ul class="menu">
    <li> Dashboard</li>
    <li> Job Providers</li>
    <li> New Registration</li>
    <li> Job Seekers</li>
    <li> Jobs</li>
    <li> My Profile</li>
    <li> Messages</li>
    <li> Settings</li>
    <li> Logout</li>
  </ul>
</div>


<h3 class="aa">Search Job / Companies</h3>



<input class="bb" type="search" placeholder="Search by Title , Company or any jobs keywords....">




<div class="cc"></div>


<div class="dd">
  <h2>Oda Dink</h2>
  <p>Super Admin</p>
</div>


<div class="ee"></div>

<div class="ff"></div>




<div class="gg"><h4>Showing 35 Applicants</h4>

<p class="ga">Based on your preference</p>
</div>


<div class="hh">   <div class="hh1"></div>  <h5 class="hh2">Func Inc </h5> <p class="hh3" >IT Department</p>  </div>



<div class="h1"></div>

<div class="h2"></div>

<div class="h3"></div>



<div class="ii"></div>

<div class="i1"></div>

<div class="i2"></div>

<div class="i3"></div>








